* {
    margin: 0;
    padding: 0;
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/mouseclick.cur"), url("https://downloads.totallyfreecursors.com/thumbnails/mouse-click.gif"), auto; 
    cursor: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    
  }

  body {
    background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/11603003/original_9d3a4342057a1a28b558e7b15d4ca656.png?1618517147?bc=0");
    background-color: blue;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: block;
    margin: 0 auto;

  /*
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(120deg, #FDFEE3, #FEE3E3, #E3FEFB, #F1E3FE);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    */
  }
  
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  img {
    display: block;
    position: fixed;
    padding-right: 60px;
    right: 10px;
    top: 10px;


    
  }
  
  a, a:link, a:visited, a:active {
    text-decoration: underline;
    color: whitesmoke;
    cursor: zoom-in;

  }
  
a:active{
  font-style: oblique;
  color: yellow;
}

  p {
    padding-right: 30%;
    padding-top: 20px;
    font-family: "schola", sans-serif;
    font-weight: normal;
    font-size: 1.7vw;
    color:  whitesmoke;
    line-height: 1.3;
    text-align: left;
  }
  


  .text {
    display: none;
    width: 90vw;
    margin-left: 50px;
    margin-right: auto;
    text-align: left;
  }
  
  .hover {
    pointer-events: none;
    transform: translate(48px, -2px);
    position: absolute; 
  }
  
  .dani_jr, .sebas_jr, .ef_diagrama, .ef_sala, .presentness_diagrama, .presentness_web, .presentness_sala {
    max-width: 50%;
    max-height: 60%;
    display: none;
  }
  
  .dani:hover+.dani_jr {
    display: block;
  }

  .sebas:hover+.sebas_jr {
    display: block;
  }

  .ef:hover+.ef_diagrama {
    display: block;
  }

  .ef_stafe:hover+.ef_sala {
    display: block;
  }

  .presentness:hover+.presentness_diagrama {
    display: block;
  }

  .presentness_wrong:hover+.presentness_web {
    display: block;
  }

  .presentness_estacionterrena:hover+.presentness_sala {
    display: block;
  }
  
  
  .hidden {
    display: none;
  }
  
  .wrapper {
    height: 100vh;
  }
  
  footer {
    position: fixed;
    float: right;
    padding-top:  1px;
    padding-left:  3px;
    padding-right:  3px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: "schola", sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
    color:  whitesmoke;



    }